/* div {
  outline: 1px solid red !important;
}*/
/* Flex Css =  display: -webkit-flex;
    display: flex;*/
.page {
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  height: auto;
  background-color: #8797a9;
  border-style:double;
  border-width:50px;
  border-radius:0em 4em 0em 4em;
  border-color: #907A48
}
h1 {
  font-size: 36px;
  text-align: center;
  background-color: #907A48;
}
h2 {
  background-color: #7F7087;
  color: #ffffff
}
  /* Use font-family to change the font. The browser will use 'arial' as the font and will use sans-serif if the computer does not have 'arial'. It's good practice to allow computers to render the text */
.title {
  font-family: Impact, Charcoal, sans-serif;
}
p {
  border-color: #4C5671;
  border-style: double;
  padding: 15px;
  border-style:solid;
  border-radius:0em 3em 0em 3em;
  font-family: Arial, Helvetica, sans-serif;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box; 
} 
.description {
	max-width: 705px;
}
/* The 0 refers to the top and bottom margins and the "auto" */
body {
	padding: 20px 10px;
	max-width: 2000px;
	margin: 0 auto; 
	font-size: 1em;
	background-color: #c3cbd4;
}  
p {
	margin: 10px 0;
}
li {
	font-size: 20px;
	line-height: 30px; 
}
.heading {
	text-align: center;
	font-size: 20px;
}
.img {
	float: none;
    text-align: center
} 
.list {
 text-align: left
}
img {
    width: 50%;
    height: auto;
}
em {
color: #907A48;
}
